
body {
  background-color: #709255;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:
}

header > nav > ul > li {
  display: inline-block;
}

#salmon {
  height: 100px;
  width: 300px;
  margin-left: 80px;
  margin-top: 20px;
}

#home {
  color: #172815;
  margin-left: 50px;
  margin-right: 30px;
  font-size: 30px;
}

#sales {
  color: #172815;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
}

#hoursLocations {
  color: #172815;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
  text-decoration: underline;
}

#contactUs {
  color: #172815;
  margin-left: 30px;
  margin-right: 50px;
  font-size: 30px;
  text-decoration: underline;
}
#chinook {
  height: 100px;
  width: 300px;
  margin-left: 30px;
  margin-top: 20px;
  background-color: #709255;
}

#title {
  font-size: 200px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #83781B;
}

#slogen {
  font-size: 60px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #83781B;
}

#family {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#firstIntro {
  color: #172815;
  text-align: center;
  margin-top: 30px;
  margin-left: 85px;
  margin-right: 85px;
  font-size: 20px;
}

#secondIntro {
  color: #172815;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 85px;
  margin-right: 85px;
  font-size: 20px;
}

#whereToFindUs {
  font-size: 75px;
  text-align: center;
  color: #83781B;
}

div > li {
  display: inline-block
}

#seattleLocation {
  color: #172815;
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 30px;
  margin-bottom: 30px;
}

#tokyoLocation, #dubiaLocation, #parisLocation {
  color: #172815;
  margin-right: 40px;
  margin-bottom: 30px;
}

#limaLocation {
  color: #172815;
  margin-right: 30px;
  margin-bottom: 30px;
}

h3 {
  font-size: 60px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #83781B;
  margin-bottom: 30px;
}

#cutter {
  color: #172815;
  text-align: center;
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 30px;
  margin-bottom: 30px;
}

#fish, #frosted-cookie, #shirt {
  color: #172815;
  text-align: center;
  margin-right: 40px;
  margin-bottom: 30px;
}



/* **************************************Sales page************************************** */

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #83781B;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  color: #3E5622;
  background-color: #95B46A;
  text-align: center;
}

section {
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #3E5622;
}

h2 {
  font-size: 60px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #83781B;
  margin-bottom: 30px;
}

#addStore {
    background-color: #95B46A;
}